<!DOCTYPE html>
<html>
<head>
  <title>ITSAE || Sistema de Control de Activos</title>
  <link rel="icon" href="LOGO_sistemas.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <!-- LINKS DE ESTILOS  -->
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/css/font-awesome.css">

  <!-- JAVASCRIPTS -->
  <script src="../../assets/javascript/jquery-1.11.2.min.js"></script>
  <script src="../../assets/javascript/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="min-height: 45em;padding-top:5em; width:100%;"> 

<div class="container ">
<% if current_user  %>
    <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>       
      </button>
      <a class="navbar-brand" href="http://www.itsae.edu.ec" >
      <img alt="Brand" src="LOGO_sistemas.png" style="height: 35px; width:45px;">
      </a>
       
    </div>
  

    <div class="collapse navbar-collapse navbar-ex1-collapse"> 
    
      <ul class="nav navbar-nav">
        <li><a href="/activos"><span style="color: white;" class="fa fa-list-alt"></span>&nbsp;Activos</a></li>        
       
      </ul>
  

  
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:window.print()"><span style="color: white;" class="fa fa-print"></span>&nbsp;Imprimir Pág</a></li>
        <li><a href="/salir"><span style="color: white;" class="fa fa-power-off"></span>&nbsp;Salir &emsp;&emsp; </a></li>
      </ul>
    </div>
  </nav>
    <div align="center">
    <h1> Welcome &nbsp; <b><%= current_user.nombre %></b></h1>
    </div>
  <% else %>
    <div class="container">
      <div align="center">
      <h1>Sistema de Control de Activos ITSAE-CADE 2016</h1>
      <h2>Ingresa por alguno de tus servidores favoritos</h2>
      <br><br>
      <table>
      <tr>
      <td><%= link_to '', '/auth/facebook' , class: "btn btn-primary btn-login fa fa-facebook-square fa-5x " %></td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
      <td><%= link_to '', '/auth/google_oauth2', class: "btn btn-danger btn-login fa fa-google-plus-square fa-5x"  %></td></tr>
      </table>
      </div>
    </div>
<% end %>
</div>


<%= yield %>

</div>

<footer>
  	<p align="center">  Copyright © 2016 Miguel Miño, Instituto Tecnológico Superior Adventista del Ecuador - ITSAE 
 </footer>


</body>
</html>
