<%= form_for(@activo) do |f| %>
  <% if @activo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activo.errors.count, "error") %> prohibited this activo from being saved:</h2>

      <ul>
      <% @activo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form role="form">
  <div class="form-group">
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code , class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :Description , class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :Department %><br>
    <%= f.text_field :Department , class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :Manager %><br>
    <%= f.text_field :Manager , class: "form-control"%>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :invoice_number %><br>
    <%= f.text_field :invoice_number , class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model , class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :date_admission %><br>
    <%= f.date_select :date_admission %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :state %><br>
    <%= f.number_field :state , class: "form-control"%>
  </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success btn-lg" %>
  </div>
</form>
<% end %>