
<div class="container">
<p id="notice"><%= notice %></p>
<h1>Listing Activos</h1>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Code &nbsp;</th>
      <th>Name &nbsp;</th>
      <th>Description &nbsp;</th>
      <th>Department &nbsp;</th>
      <th>Manager &nbsp;</th>
      <th>Invoice number &nbsp;</th>
      <th>Model &nbsp;</th>
      <th>Date admission &nbsp;</th>
      <th>State &nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activos.each do |activo| %>
      <tr>
        <td><%= activo.code %> </td>
        <td><%= activo.name %> </td>
        <td><%= activo.Description %> </td>
        <td><%= activo.Department %> </td>
        <td><%= activo.Manager %> </td>
        <td><%= activo.invoice_number %> </td>
        <td><%= activo.model %> </td>
        <td><%= activo.date_admission %> </td>
        <td><%= activo.state %> </td>
        <td><%= link_to 'Show', activo , class: "btn btn-success" %> &nbsp;</td>
        <td><%= link_to 'Edit', edit_activo_path(activo) , class: "btn btn-warning" %> &nbsp;</td>
        <td><%= link_to 'Destroy', activo, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %> &nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activo', new_activo_path , class: "btn btn-primary btn-lg" %>
</div>
