<div class="container">
<p id="notice"><%= notice %></p>


<p>
  <strong>Code:</strong>
  <%= @activo.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activo.Description %>
</p>

<p>
  <strong>Department:</strong>
  <%= @activo.Department %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @activo.Manager %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @activo.invoice_number %>
</p>

<p>
  <strong>Model:</strong>
  <%= @activo.model %>
</p>

<p>
  <strong>Date admission:</strong>
  <%= @activo.date_admission %>
</p>

<p>
  <strong>State:</strong>
  <%= @activo.state %>
</p>

<%= link_to 'Edit', edit_activo_path(@activo) , class: "btn btn-warning" %> |
<%= link_to 'Back', activos_path , class: "btn btn-danger"%>
</div>